{% extends 'stats/base.html' %}
{% load static %}

{% block head_extra %}
<!-- DATATABLES -->
<link rel="stylesheet" href="{% static 'stats/datatables/datatables.min.css'%}"/>
<link rel="stylesheet" href="{% static 'stats/datatables/Buttons-1.5.6/css/buttons.bootstrap.css'%}"/>
<style>
.dt-button{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #ebebeb;
    border-color: #e3e3e3;
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration: none;
}
#datatable-tabletools_filter label {
    float: left;
}
</style>
{% endblock %}

{% block head_title %}
    Asist. {{ fecha_mes|date:"F Y" }}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumbs">
    <li>
        <a href="{% url 'stats:index' %}">
            <i class="fa fa-home"></i>
        </a>
    </li>
    <li><span>Misiones</span></li>
</ol>
{% endblock %}

{% block titulo_pagina %}
    Misiones de {{ fecha_mes|date:"F" }}
{% endblock %}


{% block content %}
<section class="panel">
    <header class="panel-heading">
    <h2 class="panel-title">Tabla de Asistencia Mensual [{{ fecha_mes|date:"F Y" }}]
        <ul class="tipo_mision pull-right text-muted" id="filtro_tipo_mision">Filtrar:
            <li class="badge alert-default">Todo</li>
            <li class="badge alert-danger">Misión Oficial</li>
            <li class="badge alert-info">Curso</li>
            <li class="badge alert-success">Impro</li>
            <li class="badge alert-warning">Otros</li>
        </ul>
    </h2>

    </header>
    <div class="panel-body">
        <table class="table table-condensed table-bordered" id="datatable-tabletools" style="width:100%;">
            <thead>
            <th style="width: 4%">Miembro</th>
            {% for mision in misiones_mes %}
                {% if mision.tipo == "CAMPANA" or mision.tipo == "ENTRENAMIENTO" or mision.tipo == "GALA"  %}
                    <th class="text-center alert-danger" data-toggle="tooltip" data-placement="top" data-original-title="{{ mision }} ({{ mision.fecha_finalizada|date:"l" }})">
                       <a href="{% url 'stats:mision_detail' mision.id %}">{{ mision.fecha_finalizada|date:"D d"}}</a>
                    </th>
                {% elif  mision.tipo == "IMPROVISADA"%}
                    <th class="text-center alert-success" data-toggle="tooltip" data-placement="top" data-original-title="{{ mision }} ({{ mision.fecha_finalizada|date:"l" }})">
                       <a href="{% url 'stats:mision_detail' mision.id %}">{{ mision.fecha_finalizada|date:"D d"}}</a>
                    </th>
                {% elif  mision.tipo == "CURSO"%}
                    <th class="text-center alert-info" data-toggle="tooltip" data-placement="top" data-original-title="{{ mision }} ({{ mision.fecha_finalizada|date:"l" }})">
                       <a href="{% url 'stats:mision_detail' mision.id %}">{{ mision.fecha_finalizada|date:"D d"}}</a>
                    </th>
                {% else  %}
                    <th class="text-center alert-warning" data-toggle="tooltip" data-placement="top" data-original-title="{{ mision }} ({{ mision.fecha_finalizada|date:"l" }})">
                       <a href="{% url 'stats:mision_detail' mision.id %}">{{ mision.fecha_finalizada|date:"D d"}}</a>
                    </th>
                {% endif %}
            {% endfor %}
            </thead>
            {% for m in asistencia %}
                <tr>
                    <td><a href="{{ m.miembro.get_absolute_url }}">{{ m.miembro }}</a></td>
                    {% for r in m.asistencia %}
                        {% if r.asistencia == "FALTA" %}
                           <td class="danger text-center">
                               <a href="{{ r.get_absolute_url }}" style="text-decoration:none">
                                   <span class="input-group-addon btn-danger">F</span>
                               </a>
                           </td>
                        {% elif r.asistencia == "ASISTE" %}
                            <td class="success text-center">
                                <a href="{{ r.get_absolute_url }}" style="text-decoration:none">
                                   <span class="input-group-addon btn-success">A</span>
                               </a>
                            </td>
                        {% elif r.asistencia == "TARDE" %}
                            <td class="warning text-center">
                                <a href="{{ r.get_absolute_url }}" style="text-decoration:none">
                                   <span class="input-group-addon btn-warning">T</span>
                               </a>
                            </td>
                        {% else %}
                            <td>{{ r.asistencia }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

</section>

{% endblock %}
{% block extra_scripts %}

<!-- DATATABLES -->
<script src="{% static 'stats/datatables/datatables.min.js'%}"></script>
<script src="{% static 'stats/datatables/dataTables.bootstrap.min.js'%}"></script>
<script src="{% static 'stats/datatables/Buttons-1.5.6/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'stats/datatables/Buttons-1.5.6/js/buttons.jqueryui.min.js'%}"></script>
<script src="{% static 'stats/datatables/Buttons-1.5.6/js/buttons.colVis.min.js'%}"></script>
<script src="{% static 'stats/datatables/Buttons-1.5.6/js/buttons.flash.min.js'%}"></script>
<script src="{% static 'stats/datatables/Buttons-1.5.6/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'stats/datatables/Buttons-1.5.6/js/buttons.print.min.js'%}"></script>
<script src="{% static 'stats/datatables/Buttons-1.5.6/js/buttons.bootstrap.min.js'%}"></script>

<script>
(function( $ ) {

	'use strict';

	var datatableInit = function() {
		var $table = $('#datatable-tabletools');

		$table.dataTable({
            ordering: false,
            scrollX: true,
            pageLength: 50,
            dom:   "<'row' <'col-sm-4'l> <'#botones'<'col-sm-4'B>> <'col-sm-4'<'#busqueda'f>> >" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            buttons: [
                { extend: 'colvis', text: 'Mostrar/Ocultar Columnas'},
                'copy', 'excel', 'pdf',
            ],
		});

	};

	$(function() {
		datatableInit();
		$('#botones');
		$('#busqueda').addClass('pull-right');
	});


}).apply( this, [ jQuery ]);



</script>
{% endblock %}