{% load static %}

<!doctype html>
<html class="fixed sidebar-left-collapsed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">
        <title>{% block head_title %}Zona Roja Stats{% endblock %}</title>
		<meta name="keywords" content="ZR Stats" />
		<meta name="description" content="Backend de Estadísticas ZR Army">
		<meta name="author" content="Strix">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
        <!-- Octopus Vendor CSS -->
        <link rel="stylesheet" href="{% static 'stats/octopus/assets/vendor/bootstrap/css/bootstrap.css' %}" />

		<link rel="stylesheet" href="{% static 'stats/octopus/assets/vendor/font-awesome/css/font-awesome.css' %}" />
		<link rel="stylesheet" href="{% static 'stats/octopus/assets/vendor/magnific-popup/magnific-popup.css' %}" />
		<link rel="stylesheet" href="{% static 'stats/octopus/assets/vendor/bootstrap-datepicker/css/datepicker3.css' %}" />
		<link rel="stylesheet" href="{% static 'stats/octopus/assets/stylesheets/theme.css' %}" />
		<link rel="stylesheet" href="{% static 'stats/octopus/assets/stylesheets/skins/default.css' %}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'stats/octopus/assets/stylesheets/theme-custom.css' %}"/>

        <!-- Flag Icon CSS -->
        <link rel="stylesheet"  href="{% static 'stats/flag-icon-css/css/flag-icon.css' %}" />

		{% block head_extra %}
		
        {% endblock %}


	</head>
	<body>
		<section class="body">

        {% if navbartop_sin_header %}
            <!-- Esta se usa solo en home donde la barra superior es flotante -->
            <nav class="navbar navbar-default">
        {% else %}
            <!-- Esta se usa dentro del sitio para que la navbar se mantenga pegada al resto del frame-->
            <nav class="navbar navbar-default header">
        {% endif %}

              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{% url 'stats:index' %}">ZRSTATS</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li>
                        <a  href="{% url 'stats:calendario' %}">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            <span>Cal.</span>
                        </a>
                    </li>
                    <li>
                        <a  href="{% url 'stats:crear-mision' %}">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span> Misión</span>
                        </a>
                    </li>
                    <li>
                        <a  href="https://colorlib.com/polygon/octopus/index.html">
                            <i class="fa fa-steam" aria-hidden="true"></i>
                            <span>Demo</span>
                        </a>
                    </li>
                    <li>
                        <a  href="{% url 'stats:test-page' %}">
                            <i class="fa fa-wheelchair" aria-hidden="true"></i>
                            <span>Test</span>
                        </a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          CRUDs <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'stats:asistencia_list' %}">Asistencia</a></li>
                        <li><a href="{% url 'stats:clase_list' %}">Clase</a></li>
                        <li><a href="{% url 'stats:miembro_list' %}">Miembro</a></li>
                        <li><a href="{% url 'stats:campana_list' %}">Campaña</a></li>
                        <li><a href="{% url 'stats:mision_list' %}">Misión</a></li>
                        <li><a href="{% url 'stats:nacionalidad_list' %}">Nacionalidad</a></li>
                        <li><a href="{% url 'stats:rango_list' %}">Rango</a></li>
                        <li><a href="{% url 'stats:rol_list' %}">Rol</a></li>
                        <li><a href="{% url 'stats:unidad_list' %}">Unidad</a></li>
                      </ul>
                    </li>
                  </ul>
                  {% if user.is_authenticated %}
                  <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" style="padding-top: 5px; padding-bottom: 2px" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="userbox">
                            <div class="profile-picture">
                                <img src="{% static 'stats/img/'%}{{ user.miembro.unidad.abreviatura }}.png" class="img-circle" data-lock-picture="{% static 'stats/octopus/assets/images/!logged-user.jpg' %}" />
                            </div>
                            <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
                                <span class="name">{{ user.miembro.rango }}.{{ user.miembro.nombre }}</span>
                                <span class="role">{{ user.miembro.unidad.nombre }}</span>
                            </div>
                            <span class="caret"></span>
                        </div>
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                            <a role="menuitem" tabindex="-1" href="{% url 'stats:redirect_to_profile' %}">
                                <i class="fa fa-user"></i> Mi Perfil</a>
                        </li>
                        <li>
                            <a role="menuitem" tabindex="-1" href="{% url 'password_reset' %}">
                                <i class="fa fa-lock"></i> Reiniciar contraseña</a>
                        </li>
                        <li>
                            <a role="menuitem" tabindex="-1" href="{% url 'password-change' %}">
                                <i class="fa fa-lock"></i> Cambiar contraseña</a>
                        </li>
                        <li>
                            <a role="menuitem" tabindex="-1" href="{% url 'logout' %}">
                                <i class="fa fa-power-off"></i> Logout</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  {% else %}
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="{% url 'login' %}" style="padding-top: 10px; padding-bottom: 2px">
                        <div class="userbox">
                            <div class="profile-picture">
                                <span style="font-size: 2em"><i class="fa fa-power-off"></i></span>
                            </div>
                            <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
                                <span class="name">Acceder</span>
                                <span class="role">{{ user.miembro.unidad.nombre }}</span>
                            </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                  {% endif %}
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>

        {% if margin_cero_inner_wrapper %}
            <div class="inner-wrapper" style="padding-top: 0">
        {% else %}
            <div class="inner-wrapper">
        {% endif %}

                {% if hide_left_bar %}
                {% else %}
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">

					<div class="sidebar-header">
						<div class="sidebar-title">
							--
						</div>
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>

					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-main">
									<li>
										<a href="{% url 'stats:index' %}">
											<i class="fa fa-home" aria-hidden="true"></i>
											<span>Home</span>
										</a>
									</li>
                                    <li>
										<a href="https://colorlib.com/polygon/octopus/index.html">
											<i class="fa fa-globe" aria-hidden="true"></i>
											<span>Template Demo Page</span>
										</a>
									</li>
                                    <li>
										<a href="{% url 'stats:crear-mision' %}">
											<i class="fa fa-plus" aria-hidden="true"></i>
											<span>Crear Misión</span>
										</a>
									</li>
                                    <li>
										<a href="{% url 'stats:calendario' %}">
											<i class="fa fa-calendar-o" aria-hidden="true"></i>
											<span>Calendario</span>
										</a>
									</li>
                                    <li>
										<a href="{% url 'stats:test-page' %}">
											<i class="fa fa-wheelchair" aria-hidden="true"></i>
											<span>Test Page</span>
										</a>
									</li>
                                    <li class="nav-parent">
                                        <a>
                                            <i class="fa fa-align-left" aria-hidden="true"></i>
                                            <span>CRUDs</span>
                                        </a>
                                        <ul class="nav nav-children" style="">
                                            <li>
                                                <a href="{% url 'stats:asistencia_list' %}">Asistencia</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'stats:clase_list' %}">Clase</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'stats:miembro_list' %}">Miembro</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'stats:campana_list' %}">Campaña</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'stats:mision_list' %}">Misión</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'stats:nacionalidad_list' %}">Nacionalidad</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'stats:rango_list' %}">Rango</a>
    -co                                     </li>
                                            <li>
                                                <a href="{% url 'stats:rol_list' %}">Rol</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'stats:unidad_list' %}">Unidad</a>
                                            </li>
                                        </ul>
                                    </li>
								</ul>
							</nav>

							<hr class="separator" />
						</div>
					</div>

				</aside>
				<!-- end: sidebar -->
                {% endif %}


				<section role="main" class="content-body">
                {% if hide_title_bar %}
                {% else %}
					<header class="page-header">
						<h2 class="zrPageHeaders">{% block titulo_pagina %}HOME{% endblock %}</h2>

                        <div class="right-wrapper pull-right">
                        {% block breadcrumbs %}
							<ol class="breadcrumbs">
								<li>
									<a href="{% url 'stats:index' %}">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Inicio</span></li>
							</ol>
                            {% endblock %}
                            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
						</div>
					</header>
                {% endif %}


					<!-- start: page -->
                    {% block content %}
                        Hey, no deberías ver esto!
                    {% endblock %}
					<!-- end: page -->

				</section>
			</div>

            {% block sidebar_right %}
			<aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					<div class="nano-content">
						<a href="#" class="mobile-close visible-xs">
							Collapse <i class="fa fa-chevron-right"></i>
						</a>

						<div class="sidebar-right-wrapper">

							<div class="sidebar-widget widget-calendar">
								<h6>Upcoming Tasks</h6>
								<div data-plugin-datepicker data-plugin-skin="dark" ></div>

								<ul>
									<li>
										<time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
										<span>Company Meeting</span>
									</li>
								</ul>
							</div>

							<div class="sidebar-widget widget-friends">
								<h6>Friends</h6>
								<ul>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="" alt="">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="" alt="">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="" alt="">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="" alt="">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</aside>
            {% endblock %}
		</section>
        <!-- JQUERY -->
        <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
		<script src="{% static 'stats/octopus/assets/vendor/jquery/jquery.js' %}"></script>

        <!-- Head Libs -->
		<script src="{% static 'stats/octopus/assets/vendor/modernizr/modernizr.js' %}"></script>

		<!-- Vendor-->
        <script src="{% static 'stats/octopus/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
        <script src="{% static 'stats/octopus/assets/vendor/bootstrap/js/bootstrap.js' %}"></script>
		<script src="{% static 'stats/octopus/assets/vendor/nanoscroller/nanoscroller.js' %}"></script>
        <!--<script src="{% static 'stats/octopus/assets/vendor/bootstrap-datepicker/js/moment.js' %}"></script>-->
		<script src="{% static 'stats/octopus/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
		<script src="{% static 'stats/octopus/assets/vendor/magnific-popup/magnific-popup.js' %}"></script>
		<script src="{% static 'stats/octopus/assets/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'stats/octopus/assets/javascripts/theme.js' %}"></script>

		<!-- Theme Custom -->
		<script src="{% static 'stats/octopus/assets/javascripts/theme.custom.js' %}"></script>

		<!-- Theme Initialization Files -->
		<script src="{% static 'stats/octopus/assets/javascripts/theme.init.js' %}"></script>

        {% block extra_scripts %}
        {% endblock %}

	</body>
</html>