{% extends 'stats/base.html' %}
{% load static %}


{% block page_title %}{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'stats/octopus/assets/vendor/bootstrap/css/bootstrap.css' %}" />


<link rel="stylesheet" href="{% static 'stats/octopus/assets/vendor/font-awesome/css/font-awesome.css' %}" />
<link rel="stylesheet" href="{% static 'stats/octopus/assets/vendor/magnific-popup/magnific-popup.css' %}" />
<link rel="stylesheet" href="{% static 'stats/octopus/assets/vendor/bootstrap-datepicker/css/datepicker3.css' %}" />
<link rel="stylesheet" href="{% static 'stats/octopus/assets/stylesheets/theme.css' %}" />
<link rel="stylesheet" href="{% static 'stats/octopus/assets/stylesheets/skins/default.css' %}" />
<link rel="stylesheet" href="{% static 'stats/octupus/assets/stylesheets/zrstylesheet.css%'}"/>

<!-- Theme Custom CSS -->
<link rel="stylesheet" href="{% static 'stats/octopus/assets/stylesheets/theme-custom.css' %}">

<!-- Flag Icon CSS -->
<link rel="stylesheet" href="{% static 'stats/flag-icon-css/css/flag-icon.css' %}" />

{% endblock %}






{% block content %}
    asd
{% endblock %}

{% block extra_scripts %}
{% endblock %}