{% extends "stats/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}
    Misión
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumbs">
    <li>
        <a href="{% url 'stats:index' %}">
            <i class="fa fa-home"></i>
        </a>
    </li>
    <li><span>Crear Misión</span></li>
</ol>
{% endblock %}

{% block titulo_pagina %}
    Crear Misión
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-2">
            <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <button class="btn btn-primary" type="submit">Aceptar</button>
            </form>
        </div>
    </div>
{% endblock %}
