{% extends 'stats/base.html' %}
{% load static %}


{% block head_title %}Perfil de {{ object.nombre }}{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron"/>
    <style>
        .body {
            background: url('{% static 'stats/img/fondos' %}/bg_{{ fondo }}.png') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .panel {
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
        }

        .panel-default .panel-heading {
            background: whitesmoke;
            border-bottom: 0;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .panel-default .panel-body {
            background: #0000007e;
            color: ghostwhite;
        }

        .panel-default .panel-subtitle {
            color: #1d2127;
            font-size: 100%;
            font-weight: 700;
        }

        .panel-default .panel-title {
            color: #1d2127;
            font-family: Orbitron, sans-serif;
            letter-spacing: 1px;
            font-size: 150%;
            font-weight: 100;

        }

        /********************************************/
        /*          LINEA DE TIEMPO                 */
        /********************************************/
        .timeline.timeline-simple .tm-body .tm-title {
            border: 1px solid darkred;
        }

        .timeline .tm-items > li .tm-box {
            background: #0000007e;
            border-color: rgba(139, 0, 0, 0.51);
        }

        .timeline .tm-items > li .tm-box:after {
            border-width: 0px;
        }

        .timeline.timeline-simple .tm-body .tm-items > li .tm-box:before {
            left: -17px;
            border: solid transparent;
            border-right-color: rgba(139, 0, 0, 0.51);
            border-width: 8px;
            margin-top: -8px;
        }

        .timeline.timeline-simple .tm-body .tm-items > li:before {
            left: 29px;
            background: rgba(139, 0, 0, 1);
            box-shadow: 0 0 0 3px rgba(139, 0, 0, 0), 0 0 0 6px rgba(139, 0, 0, 0);
        }

        .timeline.timeline-simple .tm-body .tm-items > li:before {
            border-radius: 0;
        }

        .timeline .tm-body:after {
            width: 1px;
            background: -webkit-linear-gradient(
                    top, rgba(80, 80, 80, 1) 0%, #fff 8%, #fff 92%, rgba(80, 80, 80, 0) 100%);
        }


    </style>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumbs">
        <li>
            <a href="{% url 'stats:index' %}">
                <i class="fa fa-home"></i>
            </a>
        </li>
        <li><span>Perfil de {{ object.nombre }}</span></li>
    </ol>
{% endblock %}

{% block titulo_pagina %}
    Perfil de {{ object.nombre }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4">

            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="thumb-info mb-md">
                        {% if object.avatar %}
                            <img src="{{ object.avatar.url }}" class="rounded img-responsive"
                                 alt="{{ object.objectname }} ">
                        {% else %}
                            <img src="{% static 'stats/img/unnamed_soldier.png' %}" width="100%"
                                 class="rounded img-responsive" alt="{{ object.objectname }}  ">
                        {% endif %}
                        <div class="thumb-info-title">
                            <span class="thumb-info-inner">{{ object }}</span>
                            <span class="thumb-info-type">{{ object.unidad }}</span>
                        </div>
                    </div>

                    <div class="widget-toggle-expand mb-md">

                        <ul class="simple-bullet-list mb-md">
                            {% if object.estado == "Activo" %}
                                <li class="green">
                                    <span>Activo</span>
                                    <span class="description truncate">Asiste regularmente</span>
                                </li>
                            {% elif object.estado == "Reserva" %}
                                <li class="red">
                                    <span>Reserva</span>
                                    <span class="description truncate">No asiste indefinidamente</span>
                                </li>
                            {% elif object.estado == "Licencia" %}
                                <li class="red">
                                    <span>Licencia</span>
                                    <span class="description truncate">No asiste temporalmente</span>
                                </li>
                            {% elif object.estado == "No Miembro" %}
                                <li class="red">
                                    <span>No Miembro</span>
                                    <span class="description truncate">Miembro dado de baja</span>
                                </li>
                            {% endif %}
                        </ul>

                        <div class="widget-header">
                            <h6>Asistencia este mes</h6>
                        </div>
                        <div>
                            <div class="progress progress-indicator light">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 60%;">
                                    60%
                                </div>
                            </div>
                        </div>
                        <div class="widget-header">
                            <h6>Progreso de Rango</h6>
                        </div>
                        <div>
                            <div class="progress progress-indicator light">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 60%;">
                                    60%
                                </div>
                            </div>
                        </div>
                        <div>
                            <table class="table table-condensedhover">
                                <tr>
                                    <td style="width: 20%" class="text-muted"><i class="fa fa-sitemap"></i> Rango</td>
                                    <td><strong>{{ object.rango.rango }}</strong></td>
                                    <td style="width: 20%" class="text-muted"> Unidad</td>
                                    <td><strong>{{ object.unidad.nombre }}</strong></td>
                                </tr>
                            </table>
                            <table class="table table-condensed">
                                <tr>
                                    <td style="width: 10%" class="text-muted"> Rol</td>
                                    <td><strong>{{ object.rol }}</strong></td>
                                    <td style="width: 10%" class="text-muted"> Pelotón</td>
                                    <td><strong>{{ object.peloton }}</strong></td>
                                    <td style="width: 10%" class="text-muted"> Escuadra</td>
                                    <td><strong>{{ object.escuadra }}</strong></td>
                                </tr>
                            </table>
                            <table class="table table-condensed">
                                <tr>
                                    <td style="width: 20%" class="text-muted"><i class="fa fa-wrench"></i> Clase 1</td>
                                    <td><strong>{{ object.clase1 }}</strong></td>
                                    <td style="width: 20%" class="text-muted"><i class="fa fa-wrench"></i> Clase 2</td>
                                    <td><strong>{{ object.clase2 }}</strong></td>
                                </tr>
                            </table>

                            <table class="table table-condensed">
                                <tr>
                                    <td style="width: 20%" class="text-muted"><i class="fa fa-globe"></i> País</td>
                                    <td><strong>{{ object.nacionalidad.pais }} <span
                                            class="flag-icon flag-icon-{{ object.nacionalidad.abreviatura|lower }}"></span></strong>
                                    </td>
                                    <td style="width: 20%" class="text-muted"><i class="fa fa-map-marker"></i> Región
                                    </td>
                                    <td><strong>{{ object.region |default_if_none:'' }}</strong></td>
                                </tr>
                                <tr>

                                </tr>

                            </table>
                        </div>
                    </div>
                    <hr class="dotted short">
                    <h6 class="text-muted">Mensaje</h6>
                    <p>{{ object.mensaje_perfil|default_if_none:'' }}</p>
                    <hr class="dotted short">
                    <div class="social-icons-list">
                        {% if object.redes_facebook %}
                            <a rel="tooltip" data-placement="bottom" target="_blank"
                               href="http://www.facebook.com/{{ object.redes_facebook }}"
                               data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                        {% endif %}
                        {% if object.redes_twitch %}
                            <a rel="tooltip" data-placement="bottom"
                               href="http://www.twitter.com/{{ object.redes_twitch }}" data-original-title="Twitch"><i
                                    class="fa fa-twitch"></i><span>Twitch</span></a>
                        {% endif %}
                        {% if object.redes_instagram %}
                            <a rel="tooltip" data-placement="bottom"
                               href="http://www.instagram.com/{{ object.redes_instagram }}"
                               data-original-title="Instagram"><i class="fa fa-instagram"></i><span>Instagram</span></a>
                        {% endif %}
                        {% if object.redes_youtube %}
                            <a rel="tooltip" data-placement="bottom"
                               href="http://www.youtube.com/{{ object.redes_youtube }}" data-original-title="Youtube"><i
                                    class="fa fa-youtube"></i><span>YouTube</span></a>
                        {% endif %}
                        {% if object.redes_steam %}
                            <a rel="tooltip" data-placement="bottom"
                               href="http://www.youtube.com/{{ object.redes_steam }}" data-original-title="Steam"><i
                                    class="fa fa-steam"></i><span>Steam</span></a>
                        {% endif %}
                        {% if object.redes_whatsapp %}
                            <a rel="tooltip" data-placement="bottom"
                               href="http://www.youtube.com/{{ object.redes_whatsapp }}" data-original-title="WhatsApp"><i
                                    class="fa fa-whatsapp"></i><span>WhatsApp</span></a>
                        {% endif %}
                    </div>
                </div>
            </section>


        </div>

        <div class="col-lg-8">
            <div class="row">
                <!-- Linea de tiempo -->
                <div class="col-lg-8">
                    <section class="panel panel-default">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                    </div>
                    <h2 class="panel-title">Línea de Tiempo</h2>
                </header>
                <div class="panel-body" style="padding: 0">
                    <div class="panel-body">
                        <div class="timeline timeline-simple mt-xlg mb-md">
                            <div class="tm-body">
                                <div class="tm-title" style="background: black">
                                    <h3 class="h5 text-uppercase">{{ asistencia_mensual.first.mision.fecha_finalizada | date:'F Y' }}</h3>
                                </div>
                                <ol class="tm-items">
                                    {% for asistencia in asistencia_mensual %}
                                        <li>
                                            <div class="tm-box">
                                                <p class="mb-none">Asistencia a <a
                                                        href="{{ asistencia.mision.get_absolute_url }}">[{{ asistencia.mision }}]</a>
                                                    el día {{ asistencia.fecha }}</p>
                                                {% if asistencia.mision.campana %}
                                                    <p>
                                                        Campaña <a
                                                            href="{{ asistencia.mision.campana.get_absolute_url }}">{{ asistencia.mision.campana }}</a>
                                                    </p>
                                                {% else %}
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                </div>

                <div class="col-lg-4">
                    <!-- Estadísticas -->
                    <section class="panel panel-default">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="fa fa-caret-down"></a>
                            </div>
                            <h2 class="panel-title">Estadísticas</h2>
                        </header>
                        <div class="panel-body" style="padding: 0">
                            <div class="panel-body">
                                <ul class="simple-card-list mb-xlg">
                                    <li class="primary">
                                        <h3>{{ object.get_todas_las_asistencias.count }}</h3>
                                        <p>Asistencias totales</p>
                                    </li>
                                    <li class="primary">
                                        <h3>{{ object.get_todas_las_faltas.count }}</h3>
                                        <p>Faltas totales</p>
                                    </li>
                                    <li class="primary">
                                        <h3>{{ object.horas_de_servicio }}</h3>
                                        <p>Horas de Servicio</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>

                    <!-- Campañas -->
                    <section class="panel panel-default">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                    </div>
                    <h2 class="panel-title">Participación en Campañas</h2>
                </header>
                <div class="panel-body" style="padding: 0">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed mb-none">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Campaña</th>
                                    <th>Asistencia</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for campana in campanas_asistidas %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ campana.campana.nombre }}</td>
                                    {% if campana.porcentaje <= 50 %}
                                        <td class="text-danger">{{ campana.porcentaje }}% ({{ campana.asistencias }} de {{ campana.campana.mision_set.count }})</td>
                                    {% elif campana.porcentaje <= 70 %}
                                        <td class="text-warning">{{ campana.porcentaje }}% ({{ campana.asistencias }} de {{ campana.campana.mision_set.count }})</td>
                                    {% else %}
                                        <td class="text-success">{{ campana.porcentaje }}% ({{ campana.asistencias }} de {{ campana.campana.mision_set.count }})</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

                    <!-- Condecoraciones -->
                    <section class="panel panel-default">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="fa fa-caret-down"></a>
                            </div>
                            <h2 class="panel-title">Condecoraciones</h2>
                        </header>
                        <div class="panel-body" style="padding: 0">
                            <div class="panel-body">
                                <ul class="simple-bullet-list mb-xlg">
                                    <li class="red">
                                        <span>Cinta del Mérito Académico</span>
                                        <span class="description truncate">Aprobación de examen de Infante con más de 45</span>
                                    </li>
                                    <li class="green">
                                        <span>Cinta Acto Distinguido 1era. Clase</span>
                                        <span class="description truncate">Destacados actos heróicos durante la campaña "Tormenta del Desierto"</span>
                                    </li>
                                    <li class="blue">
                                        <span>Barra Mérito en Conducta 3era. Clase</span>
                                        <span class="description truncate">Por conducta, disciplina, obediencia y trato intachable.</span>
                                    </li>
                                    <li class="orange">
                                        <span>Cinta Campaña</span>
                                        <span class="description truncate">Por tener 100% de asistencia en la campaña "Tormenta del Desierto".</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>



    </div>

{% endblock %}