{% extends 'stats/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'stats/octopus/assets/vendor/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'stats/octopus/assets/vendor/jquery-datatables-bs3/assets/css/datatables.css' %}" />
{% endblock %}

{% block content %}



    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>
            <h2 class="panel-title">ASISTENCIA</h2>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" data-swf-path="assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
                <thead>
                    <tr>
                        <th style="width: 5px">#</th>
                        <th style="width: 30px">Miembro</th>
                        <th style="width: 40px">Unidad</th>
                        {% for reporte in reportes|dictsort:"fecha" %}
                            <th>{{ reporte.fecha }}</th>
                        {% endfor %}
                        <th style="width: 10px">Misiones</th>
                        <th style="width: 10px">Asistencias</th>
                    </tr>
                </thead>
                <tbody>
                {% for miembro in miembros %}
                    <tr class="gradeX">
                        <td>{{ miembro.rango.orden }}</td>
                        <td>{{ miembro.rango.abreviatura }}.{{ miembro.nombre }}</td>
                        <td>{{ miembro.unidad.abreviatura }}</td>
                        {% for reporte in reportes %}
                            {% for a in reporte.asistencia_set.all %}
                                {% if a.miembro == miembro %}
                                    {% if a.asistencia == 'Falta' or a.asistencia == 'falta'%}
                                        <td class="danger" data-toggle="tooltip" data-placement="top" title="Sesión: {{ a.tiempo_de_sesion }}">{{ a.asistencia }}</td>
                                    {% elif a.asistencia == 'asiste'%}
                                        <td class="success" data-toggle="tooltip" data-placement="top" title="Sesión: {{ a.tiempo_de_sesion }}">{{ a.asistencia }}</td>
                                    {% elif a.asistencia == 'media stats'%}
                                        <td class="warning" data-toggle="tooltip" data-placement="top" title="Sesión: {{ a.tiempo_de_sesion }}">{{ a.asistencia }}</td>
                                    {% else %}
                                        <td data-toggle="tooltip" data-placement="top" title="Sesión: {{ a.tiempo_de_sesion }}">{{ a.asistencia }}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <td>{{ reportes.count }}</td>
                        <td>{{ miembro.cantidad_asistencias }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>




{% endblock %}

{% block extra_scripts %}
    <!-- Specific Page Vendor -->
    <script src="{% static 'stats/octopus/assets/vendor/select2/select2.js' %}"></script>
    <script src="{% static 'stats/octopus/assets/vendor/jquery-datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'stats/octopus/assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js' %}"></script>
    <script src="{% static 'stats/octopus/assets/vendor/jquery-datatables-bs3/assets/js/datatables.js' %}"></script>

    <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    (function( $ ) {
        'use strict';
        var datatableInit = function() {
            var $table = $('#datatable-tabletools');
            $table.dataTable({
                "columnDefs": [{ "visible": false, "targets": 0 }],
                "pageLength": 100,
                sDom: "<'text-right mb-md'T>" + $.fn.dataTable.defaults.sDom,
                oTableTools: {
                    sSwfPath: $table.data('swf-path'),
                    aButtons: [
                        {
                            sExtends: 'pdf',
                            sButtonText: 'PDF'
                        },
                        {
                            sExtends: 'csv',
                            sButtonText: 'CSV'
                        },
                        {
                            sExtends: 'xls',
                            sButtonText: 'Excel'
                        },
                        {
                            sExtends: 'print',
                            sButtonText: 'Print',
                            sInfo: 'Please press CTR+P to print or ESC to quit'
                        }
                    ]
                }
            });
        };
        $(function() {
            datatableInit();
        });
    }).apply( this, [ jQuery ]);
    </script>



{% endblock %}