{% extends "stats/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}
    Asistencia de {{ object.miembro }} en {{ object.mision.nombre }}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumbs">
    <li>
        <a href="{% url 'stats:index' %}">
            <i class="fa fa-home"></i>
        </a>
    </li>
    <li><span>CRUDs</span></li>
    <li><span>Asistencia</span></li>
</ol>
{% endblock %}

{% block titulo_pagina %}
    Asistencia de {{ object.miembro }} en {{ object.mision.nombre }}
{% endblock %}

{% block content %}
<p><a class="btn btn-default" href="{% url 'stats:asistencia_detail' object.id %}">Volver</a></p>
    <div class="row">
        <div class="col-lg-2">
            <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <button class="btn btn-primary" type="submit">Aceptar</button>
            </form>
        </div>
    </div>
{% endblock %}