{% extends "stats/base.html" %}
{% load static %}
{% load template_utils %}

{% block head_title %}
    Miembro {{ object }}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumbs">
    <li>
        <a href="{% url 'stats:index' %}">
            <i class="fa fa-home"></i>
        </a>
    </li>
    <li><span>CRUDs</span></li>
    <li><a href="{% url 'stats:miembro_list' %}" ><span>Miembros</span></a></li>
    <li><span class="text-muted">{{ object }}</span></li>
</ol>
{% endblock %}

{% block titulo_pagina %}
    Miembro {{ object }}
{% endblock %}


{% block content %}
<p><a class="btn btn-default" href="{% url 'stats:miembro_list' %}">Listar Miembros</a></p>

<div class="row">
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>
                <h2 class="panel-title">Cuenta</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table mb-none">
                        <thead>
                        <th></th><th></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Usuario</td>
                                <td>{{ object.user.username }}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{ object.user.email }}</td>
                            </tr>
                            <tr>
                                <td>Activo</td>
                                <td>{{ object.user.is_active|boolean_icon }}</td>
                            </tr>
                            <tr>
                                <td>Es Staff</td>
                                <td>{{ object.user.is_staff|boolean_icon }}</td>
                            </tr>
                            <tr>
                                <td>Es Superusuario</td>
                                <td>{{ object.user.is_superuser|boolean_icon }}</td>
                            </tr>
                            <tr>
                                <td>Fecha de Alta</td>
                                <td>{{ object.user.date_joined }}</td>
                            </tr>
                            <tr>
                                <td>Último Ingreso</td>
                                <td>{{ object.user.last_login }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>
                <h2 class="panel-title">Info. Elemento</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table mb-none">
                        <thead>
                        <th></th><th></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nombre</td>
                                <td>{{ object.nombre }}</td>
                            </tr>
                            <tr>
                                <td>Rango</td>
                                <td>{{ object.rango.rango }}</td>
                            </tr>
                            <tr>
                                <td>Unidad</td>
                                <td>{{ object.unidad.nombre}}</td>
                            </tr>
                            <tr>
                                <td>Rol</td>
                                <td>{{ object.rol }}</td>
                            </tr>
                            <tr>
                                <td>Clase 1</td>
                                <td>{{ object.clase1 }}</td>
                            </tr>
                            <tr>
                                <td>Clase 2</td>
                                <td>{{ object.clase2 }}</td>
                            </tr>
                            <tr>
                                <td>Pelotón</td>
                                <td>{{ object.peloton }}</td>
                            </tr>
                            <tr>
                                <td>Escuadra</td>
                                <td>{{ object.escuadra }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>
                <h2 class="panel-title">Info. Perfil</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table mb-none">
                        <thead>
                        <th></th><th></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nacionalidad</td>
                                <td>{{ object.nacionalidad.abreviatura|flag_icon }} {{ object.nacionalidad }}</td>
                            </tr>
                            <tr>
                                <td>Region</td>
                                <td>{{ object.region|default_if_none:"N/A" }}</td>
                            </tr>
                            <tr>
                                <td>Mensaje de Perfil</td>
                                <td>{{ object.mensaje_perfil|default_if_none:"N/A"}}</td>
                            </tr>
                            <tr>
                                <td>Facebook</td>
                                <td>{{ object.redes_facebook|default_if_none:"N/A" }}</td>
                            </tr>
                            <tr>
                                <td>Instagram</td>
                                <td>{{ object.redes_instagram|default_if_none:"N/A" }}</td>
                            </tr>
                            <tr>
                                <td>Steam</td>
                                <td>{{ object.redes_steam|default_if_none:"N/A" }}</td>
                            </tr>
                            <tr>
                                <td>Twitch</td>
                                <td>{{ object.redes_twitch|default_if_none:"N/A" }}</td>
                            </tr>
                            <tr>
                                <td>Whatsapp</td>
                                <td>{{ object.redes_whatsapp|default_if_none:"N/A" }}</td>
                            </tr>
                            <tr>
                                <td>YouTube</td>
                                <td>{{ object.redes_youtube|default_if_none:"N/A" }}</td>
                            </tr>
                            <tr>
                                <td>Avatar</td>
                                {% if object.avatar %}
                                <td><img src="{{ object.avatar.url }}"></td>
                                {% else %}
                                <td><img src="{% static 'stats/img/unnamed_soldier.png' %}"></td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Miembro</a>

{% endblock %}