{% extends "stats/base.html" %}
{% load static %}

{% block head_extra %}
<!-- DATATABLES -->
<link rel="stylesheet" href="{% static 'stats/datatables/datatables.min.css'%}"/>
{% endblock %}

{% block head_title %}
    Misión
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumbs">
    <li>
        <a href="{% url 'stats:index' %}">
            <i class="fa fa-home"></i>
        </a>
    </li>
    <li><span>CRUDs</span></li>
    <li><span>Misión</span></li>
</ol>
{% endblock %}

{% block titulo_pagina %}
    Misión
{% endblock %}


{% block content %}

<div class="row">
    <ul>
        <a href="#" class="all"><li class="btn btn-default">Todas</li></a>
        <a href="#"><li class="btn btn-default">Campaña</li></a>
        <a href="#"><li class="btn btn-default">Improvisada</li></a>
        <a href="#"><li class="btn btn-default">Curso</li></a>
        <a href="#"><li class="btn btn-default">Entrenamiento</li></a>
        <a href="#"><li class="btn btn-default">Gala</li></a>
        <a href="#"><li class="btn btn-default">Cooperativs</li></a>
        <a href="#"><li class="btn btn-default">Otros</li></a>
    </ul>
</div>

<div class="row">
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>
            <h2 class="panel-title">Todas las Misiones</h2>
        </header>
        <div class="panel-body">
            <table  class="table table-bordered table-striped mb-none" id="datatable-default">
                <thead>
                    <tr>
                        <th style="width: 10px">ID</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>Campaña</th>
                        <th>Mapa</th>
                        <th>Estado</th>
                        <th>Autor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{object.pk}}</td>
                        <td><a href="{{object.get_absolute_url}}">{{ object.nombre|truncatewords:6 }}</a></td>
                        <td>{{object.print_tipo}}</td>
                        <td>{{ object.fecha_finalizada }}</td>
                        <td><a href="{{ object.campana.get_absolute_url }}">{{ object.campana.nombre|truncatewords:6 }}</a></td>
                        <td>{{ object.mapa }}</td>
                        {% if object.estado == object.ESTADO_FINALIZADA %}
                            <td class="success">{{ object.estado }}</td>
                        {% elif object.estado == object.ESTADO_AGENDADA %}
                            <td class="primary">{{ object.estado }}</td>
                        {% elif object.estado == object.ESTADO_BORRADOR %}
                            <td class="warning">{{ object.estado }}</td>
                        {% elif object.estado == object.ESTADO_EDITANDO %}
                            <td class="warning">{{ object.estado }}</td>
                        {% elif object.estado == object.ESTADO_PENDIENTE %}
                            <td class="warning">{{ object.estado }}</td>
                        {% elif object.estado == object.ESTADO_PREPARADA %}
                            <td class="primary">{{ object.estado }}</td>
                        {% elif object.estado == object.ESTADO_RECHAZADA %}
                            <td class="danger">{{ object.estado }}</td>
                        {% else %}
                            <td class="danger">Oops!</td>
                        {% endif %}
                        <td>{{ object.autor }}</td>
                        {% if object.reporte %}
                            <td>
                                <span><a href="{{ object.reporte.url }}"><i class="fa fa-file" aria-hidden="true"></i></a></span>
                                <span><a href="{% url 'stats:mision_delete' object.id %}"><i class="fa fa-trash-o text-danger" aria-hidden="true"></i> </a></span>
                            </td>
                        {% else %}
                            <td>
                                <span><i class="fa fa-file text-muted" aria-hidden="true"></i></span>
                                <span><a href="{% url 'stats:mision_delete' object.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i> </a></span>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock %}

{% block extra_scripts %}

<!-- DATATABLES -->
<script src="{% static 'stats/datatables/datatables.min.js'%}"></script>
<script src="{% static 'stats/datatables/dataTables.bootstrap.min.js'%}"></script>

<script>
        $(document).ready( function () {
            var table = $('#datatable-default').DataTable({
                "order": [[0, "desc"]],
            });

            $('ul').on( 'click', 'a', function () {
            table
                .columns(2)
                .search( $(this).text())
                .draw();
            });

            $('ul').on('click', 'a.all', function() {
              table
                .search('')
                .columns(2)
                .search('')
                .draw();
            });

        });
</script>
{% endblock %}