{% extends "stats/base.html" %}
{% load static %}

{% block head_title %}
    Rol
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumbs">
    <li>
        <a href="{% url 'stats:index' %}">
            <i class="fa fa-home"></i>
        </a>
    </li>
    <li><span>CRUDs</span></li>
    <li><span>Rol</span></li>
</ol>
{% endblock %}

{% block titulo_pagina %}
    Rol
{% endblock %}


{% block content %}
<p><a class="btn btn-default" href="{% url 'stats:rol_list' %}">Rol Listing</a></p>
<table class="table">
<tr><td>rol</td><td>{{ object.rol }}</td></tr>
<tr><td>abreviatura</td><td>{{ object.abreviatura }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Rol</a>

{% endblock %}