{% extends "stats/base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'stats:unidad_list' %}">Unidad Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>nombre</td>
    <td>abreviatura</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.nombre }}</td>
    <td>{{ object.abreviatura }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'stats:unidad_create' %}">Create new Unidad</a>
{% endblock %}