<!doctype html>
<html class="fixed sidebar-left-collapsed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

        {% load staticfiles %}

		<title>{% block head_title %}{% endblock %}</title>

        {% block extra_css %}
        {% endblock %}


		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'asistencia/octopus/assets/vendor/bootstrap/css/bootstrap.css'%}" />
		<link rel="stylesheet" href="{% static 'asistencia/octopus/assets/vendor/font-awesome/css/font-awesome.css'%}" />
		<link rel="stylesheet" href="{% static 'asistencia/octopus/assets/vendor/magnific-popup/magnific-popup.css'%}" />
		<link rel="stylesheet" href="{% static 'asistencia/octopus/assets/vendor/bootstrap-datepicker/css/datepicker3.css'%}" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'asistencia/octopus/assets/stylesheets/theme.css'%}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'asistencia/octopus/assets/stylesheets/skins/default.css'%}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'asistencia/octopus/assets/stylesheets/theme-custom.css'%}">

		<!-- Head Libs -->
		<script src="{% static 'asistencia/octopus/assets/vendor/modernizr/modernizr.js'%}"></script>


	</head>
	<body>
		<section class="body">

            {% block header %}
			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
					<a href="../" class="logo">
						<img src="{% static 'asistencia/octopus/assets/images/logo.png'%}" height="35" alt="Porto Admin"/>
					</a>
					<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened" >
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>

				<!-- start: search & user box -->
				<div class="header-right">

					<span class="separator"></span>

                    {% block userbox %}
					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
                                {% if user.is_authenticated %}
                                    <figure class="profile-picture">
								    <img src="{{ user.socio.image_url|default_if_none:'#' }}" alt="Joseph Doe" class="img-circle" data-lock-picture="{% static 'asistencia/octopus/assets/images/!logged-user.jpg'%}" />
							        </figure>
							        <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
                                    <span class="name">{{ user.socio.first_name }} {{ user.socio.last_name }}</span>
								    <span class="role">{{ user.username }}</span>
                                {% else %}
                                    <figure class="profile-picture">
								    <img src="{% static 'asistencia/octopus/assets/images/!logged-user.jpg'%}" alt="Joseph Doe" class="img-circle" data-lock-picture="{% static 'asistencia/octopus/assets/images/!logged-user.jpg'%}" />
							        </figure>
							        <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
                                    <span class="name">John Doe Junior</span>
								    <span class="role">administrator</span>
                                {% endif %}

							</div>

							<i class="fa custom-caret"></i>
						</a>

						<div class="dropdown-menu">
							<ul class="list-unstyled">
								<li class="divider"></li>
								<li>
{#									<a role="menuitem" tabindex="-1" href="{% url 'asistencia:socio-detail' user.id %}"><i class="fa fa-user"></i> My Profile</a>#}
								</li>
                                <li>
{#									<a role="menuitem" tabindex="-1" href="{% url 'asistencia:socio-edit' user.id %}"><i class="fa fa-user"></i> Edit Profile</a>#}
								</li>
								<li>
{#									<a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fa fa-lock"></i> Lock Screen</a>#}
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="{% static 'asistencia/octopus/pages-signin.html'%}"><i class="fa fa-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>
					</div>
                    {% endblock %}
				</div>
				<!-- end: search & user box -->
			</header>
            {% endblock %}
			<!-- end: header -->

            {% block sidebar %}
			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">

					<div class="sidebar-header" >
						<div class="sidebar-title">
							Navigation
						</div>
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>

					<div class="nano" >
						<div class="nano-content">
							<nav id="menu" class="nav-asistencia" role="navigation">
								<ul class="nav nav-asistencia">
                                    <li>
										<a href="index.html">
											<i class="fa fa-home" aria-hidden="true"></i>
											<span>Dashboard</span>
										</a>
									</li>
                                    {% block sidebar_navigation_extra %}
                                    {% endblock %}
                                </ul>
							</nav>

							<hr class="separator" />

                            {% block sidebar_widgets %}
                            {% endblock %}

						</div><!-- end: nano-content -->
					</div><!-- end: nano -->

				</aside>
				<!-- end: sidebar -->
                {% endblock %}

				<section role="asistencia" class="content-body">
					<header class="page-header" style="background-image: url({% static 'asistencia/img/mc-black2.png' %});background-repeat: repeat-x; background-size:40%">

						<h2>{% block page_title %}Blank Page{% endblock %}</h2>


						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
                                {% block breadcrumbs %}
								<li>
									<a href="index.html">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Pages</span></li>
								<li><span>Blank Page</span></li>
                                {% endblock %}
							</ol>

							{% block right_sidebar_toggle %}
                            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
                            {% endblock %}
						</div>
					</header>

					<!-- start: page -->
                    {% block content %}
                    {% endblock %}
					<!-- end: page -->
				</section>
			</div>


            {% block right_sidebar %}
			<aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					<div class="nano-content">
						<a href="#" class="mobile-close visible-xs">
							Collapse <i class="fa fa-chevron-right"></i>
						</a>

						<div class="sidebar-right-wrapper">

							<div class="sidebar-widget widget-calendar">
								<h6>Upcoming Tasks</h6>
								<div data-plugin-datepicker data-plugin-skin="dark" ></div>

								<ul>
									<li>
										<time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
										<span>Company Meeting</span>
									</li>
								</ul>
							</div>

							<div class="sidebar-widget widget-friends">
								<h6>Friends</h6>
								<ul>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="{% static 'asistencia/octopus/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle'%}">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="{% static 'asistencia/octopus/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle'%}">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="{% static 'asistencia/octopus/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle'%}">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="{% static 'asistencia/octopus/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle'%}">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</aside>
            {% endblock %}
		</section>


		<!-- Vendor -->
		<script src="{% static 'asistencia/octopus/assets/vendor/jquery/jquery.js'%}"></script>
		<script src="{% static 'asistencia/octopus/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js'%}"></script>
		<script src="{% static 'asistencia/octopus/assets/vendor/bootstrap/js/bootstrap.js'%}"></script>
		<script src="{% static 'asistencia/octopus/assets/vendor/nanoscroller/nanoscroller.js'%}"></script>
		<script src="{% static 'asistencia/octopus/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js'%}"></script>
		<script src="{% static 'asistencia/octopus/assets/vendor/magnific-popup/magnific-popup.js'%}"></script>
		<script src="{% static 'asistencia/octopus/assets/vendor/jquery-placeholder/jquery.placeholder.js'%}"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'asistencia/octopus/assets/javascripts/theme.js'%}"></script>

		<!-- Theme Custom -->
		<script src="{% static 'asistencia/octopus/assets/javascripts/theme.custom.js'%}"></script>

		<!-- Theme Initialization Files -->
		<script src="{% static 'asistencia/octopus/assets/javascripts/theme.init.js'%}"></script>

        {% block extra_scripts %}
        {% endblock %}




	</body>
</html>